.App {
  text-align: center;
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
}
.hr{
  background-color:white;
  width: 500px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:teal;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navStuff{
  color:aqua;
 background-color: crimson;
 ;
}

#imgSize{

    height:400px !important;
    width: 300px !important;
   
 
}
.github{
 color: #333333;
}
.linkedIn{
  color:#0077b5;
}

.twitter{
  color:#1da1f2;
}

.text-start{
  text-align: start !important;
}
.scroll{
  overflow: scroll;
  max-height: 95vh;
}
.codewars{
  color:#a12e24;
}
.text-start{
  text-align: start !important;
}
  
